*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1.34fr 5fr;
    min-height: 100vh;
}

.dashboard {
    background-color: #397ad8;
    color: white;
    grid-row-start: 1;
    grid-row-end: 3;
}