*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1.34fr 5fr;
    min-height: 100vh;
    font-family: Roboto;
}

.dashboard {
    background-color: #397ad8;
    color: white;
    grid-row-start: 1;
    grid-row-end: 3;
}

.dashboard-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 6%;
    margin-left: 6%;
    padding-bottom: 15%;
}

.dashboard-header > svg {
    height: 3.5rem;
    width: auto;
} 

.dashboard-header > h2 {
    font-size: 1.8rem;
} 

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-bar > li {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-bar li svg {
    height: 1.7rem;
    width: auto;
}