*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1.34fr 5fr;
    min-height: 100vh;
    font-family: Roboto;
}

.dashboard {
    background-color: #397ad8;
    color: white;
    grid-row-start: 1;
    grid-row-end: 3;
}

.dashboard-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 6%;
    margin-left: 6%;
    padding-bottom: 15%;
}

.dashboard-header > svg {
    height: 3.5rem;
    width: auto;
} 

.dashboard-header > h2 {
    font-size: 1.8rem;
} 

.nav-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-bar > li {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 11%;
    padding-bottom: 3%;
}

.nav-bar li svg {
    height: 1.7rem;
    width: auto;
}

.nav-bar li > span {
    font-size: 1.5rem;
    font-weight: 700;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 18px 50px;
}

.header-top {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.search > svg{
    height: 1.6rem;
    width: auto;
}

.search > input[type="search"]{
    padding: 8px 20px;
    background-color: #e2e5f0; 
    border: none; 
    width: 650px; 
    border-radius: 20px;
    font-size: 1.1rem;
}

.tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
    gap: 30px;
}

.tools > svg {
    height: 1.6rem;
    width: auto;
}

.tools > img {
    width: 50px;
}

.tools > p {
    font-weight: bolder;
    font-size: 1.2rem;
}

.header-bottom {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.header-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profile-picture > img {
    width: 80px;
}

.header-text > p {
    font-weight: bold;
}

.header-text > h1 {
    font-size: 1.6rem;
}

.header-buttons {
    display: flex;
    gap: 30px; 
}

.header-buttons > button {
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px 31px;
    border: none;
    border-radius: 20px;
    background-color: #397ad8;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    background-color: #e2e5f0;
    padding: 25px 40px 30px 20px;
}

h3 {
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 500;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1.1fr));
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.right-side{
    display: grid;
    align-content: space-between;
    gap: 20px;
}

.announcement-list, .trending-list {
    list-style-type: none;
}

.announcement-card, .trending-card {
    background-color: white;
}

.announcement-card {
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 2rem;
    padding-bottom: 0;
}

.announcement-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.announcement-list > li {
    padding-bottom: 20px;
    border-bottom: solid 1px #646464;
}

.announcement-list > li:last-of-type{
    border: none;
}

.announcement-cell > p:first-child{
    font-size: 0.9rem;
    font-weight: bold;
}

.announcement-cell > p:last-child{
    color: #646464;
}

.trending-card {
    font-size: 0.9rem;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

.trending-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.trending-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.profile-picture > img {
    width: 50px;
}

.trending-text > p:last-child{
    color: #646464;
}